
.modal {
  display: none;

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
  width: 100%; /* Could be adjusted */
  max-width: 400px; /* Maximum width */
  height: auto;
  min-height: 75vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
  /* overflow-y: scroll; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal-header {
    background-color: rgb(30, 59, 153);
    padding: 8px 6px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-body {
    padding: 2px;
    min-height: 500px;
}
.modal-footer {
    padding: 5px;
    display: flex;
    justify-content: end;
    column-gap: 5px;

}
/* Close Button */
.close-button {
  color: #222121;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
}

.close-button:hover,
.close-button:focus {
  color: rgb(65, 64, 64);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  cursor: pointer;
}

.modal-close-btn, .cancelbtn {
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(196, 33, 33);
  color: #fefefe;
  border: 0;
  padding: 6px 22px;
  border-radius: 5px;
}
.modal-ok-btn {
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(27, 167, 51);
  color: #fefefe;
  border: 0;
  padding: 6px 22px;
  border-radius: 5px;
}
/* Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}





/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}